*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

.cor-body{
    background-color: var(--cor--bg);
}

:root{
    --cor--bg: tomato;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}